venv/
.env/
*.env/

# Archivos de configuración local
settings_local.py
*.sqlite3
db.sqlite3

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos temporales / logs
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.swp
*.tmp
*.bak
*.orig


.vscode/
.idea/


.DS_Store
Thumbs.db

/staticfiles/
media/
*.mo


build/
dist/
*.egg-info/
*.egg


docker-compose.override.yml


.cache/